/* Cores */
:root {
    /* Paleta Principal */
    --bege-claro: #F5F1EC;
    --bege-medio: #E8DFD6;
    --bege-escuro: #D6C6B8;
    --marrom-claro: #C2A78D;
    --marrom-medio: #A1846A;
    --marrom-escuro: #6E5542;
    --marrom-profundo: #3E2F25;

    /* Cores de Destque*/
    --dourado: #C9A46C;
    --dourado-escuro: #A8844F;
    --dourado-claro: #E0C39A;

    /* Cores Neutras*/
    --branco: #FFFFFF;
    --cinza-claro: #E5E5E5;
    --cinza-medio: #9A9A9A;
    --cinza-escuro: #4A4A4A;
    --preto: #1A1A1A;
}